section.hero {
  height: 98vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero_container {
  height: 100%;
  scroll-snap-align: center;
  width: 1400px;
  display: flex;
  justify-content: space-between;
}

.hero_container .left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}

.hero_container .title {
  font-size: 4.5rem;
}

.hero_container .weDo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.hero_container .line {
  height: 5px;
  background-color: gray;
  width: 50px;
  border-radius: 1rem;
}

.hero_container .subtitle {
  color: #da4ea2;
}

.hero_container .desc {
  font-size: 1.5rem;
  color: lightgray;
}

.hero_container .right {
  flex: 3;
  position: relative;
}

.hero_container .right img {
  width: 800px;
  height: 600px;
  object-fit: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: animate 2s infinite ease alternate;
}

@keyframes animate {
  100% {
    transform: translateY(20px);
  }
}

@media only screen and (max-width: 768px) {
  section.hero {
    height: 100%;
  }

  .hero_container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero_container .left,
  .hero_container .right {
    flex: 1;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
  }

  .hero_container .title {
    text-align: center;
    font-size: 3.5rem;
  }

  .hero_container .desc {
    font-size: 1.25rem;
    padding: 1rem;
    text-align: center;
  }

  .hero_container .right img {
    width: 250px;
    height: 250px;
  }
}
