section.newsletter {
  position: absolute;
  bottom: 25vh;
  height: 10vh;
  width: 70vw;
  scroll-snap-align: center;
  background-color: #fff;
  color: #333;
  border-radius: 3rem;
  padding: 4rem 3rem;
}

.newsletter_container {
  height: 100%;
  width: 100%;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsletter_container .left {
  font-size: 2rem;
  font-weight: bold;
}

.newsletter_container .right {
  position: relative;
}

.newsletter_container input {
  border: 1px solid #444;
  border-radius: 1rem;
  padding: 1rem;
  width: 500px;
  outline: none;
}

.newsletter_container button {
  position: absolute;
  top: 50%;
  right: 0.25rem;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background: rgb(54, 15, 78);
  background: linear-gradient(
    145deg,
    rgba(54, 15, 78, 1) 0%,
    rgba(8, 8, 111, 1) 35%,
    rgba(11, 90, 106, 1) 100%
  );
  color: #fff;
  padding: 0.9rem 1.5rem;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}

.newsletter_container button:hover {
  background: linear-gradient(
    145deg,
    rgb(73, 27, 101) 0%,
    rgb(27, 27, 118) 35%,
    rgb(30, 103, 118) 100%
  );
}

@media only screen and (max-width: 768px) {
  section.newsletter {
    bottom: 0;
    top: 0;
    width: 90vw;
    padding: 2rem 1rem;
    border-radius: 2rem;
  }

  .newsletter_container {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .newsletter_container .left {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }

  .newsletter_container input {
    width: 250px;
  }

  .newsletter_container button {
    font-weight: 500;
    width: max-content;
  }
}
