section.about {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
}

.about_container {
  height: 100%;
  scroll-snap-align: center;
  width: 1400px;
  display: flex;
  justify-content: space-between;
}

.about_container .left {
  flex: 1;
}

.about_container .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}

.about_container .weDo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

@media only screen and (max-width: 768px) {
  .about_container {
    height: 100vh;
    width: 90%;
    flex-direction: column;
  }

  .about_container .left {
    height: 50vh;
  }

  .about_container .right {
    align-items: center;
    text-align: center;
  }
}
