section.footer {
  height: 30vh;
  scroll-snap-align: center;
  position: relative;
  background: rgb(54, 15, 78);
  background: linear-gradient(
    145deg,
    rgba(54, 15, 78, 1) 0%,
    rgba(8, 8, 111, 1) 35%,
    rgba(11, 90, 106, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.footer_container {
  height: 100%;
  scroll-snap-align: center;
  width: 1200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer_container .logo {
  display: flex;
  align-content: center;
  justify-content: center;
  color: #da4ea2;
  font-size: 2.5rem;
  font-weight: bold;
}

.footer_container .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer_container .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer_container .icons i {
  height: 25px;
  width: 25px;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_container .icons i:hover {
  background-color: #fff;
  transform: scale(1.2);
}

.footer_container .icons i:nth-child(1):hover {
  color: #3b5998;
}

.footer_container .icons i:nth-child(2):hover {
  color: #0a66c2;
}

.footer_container .icons i:nth-child(3):hover {
  color: #00acee;
}

.footer_container .copyright {
  font-size: 0.8rem;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .footer_container .right,
  .footer_container .icons {
    gap: 0.75rem;
  }

  .footer_container .icons i {
    height: 20px;
    width: 20px;
  }
}
