section.work {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
}

.work_container {
  position: relative;
  width: 1400px;
  display: flex;
  justify-content: space-between;
}

.work_container .left {
  flex: 1;
  display: flex;
  align-items: center;
}

.work_container .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.work_container .listItem {
  position: relative;
  font-size: 5.5rem;
  font-weight: bold;
  cursor: pointer;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.work_container .listItem::after {
  content: attr(text);
  position: absolute;
  top: 0;
  left: 0;
  color: #da4ea2;
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
}

.work_container .listItem:hover::after {
  animation: moveText 0.5s linear both;
}

@keyframes moveText {
  to {
    width: 100%;
  }
}

.work_container .right {
  flex: 1;
}

/* style for description modal */
.work_modal_desc {
  position: absolute;
  top: 8rem;
  right: 1rem;
  height: 70px;
  width: 250px;
  padding: 0.75rem;
  background-color: #fff;
  color: #333;
  border-radius: 1rem 1rem 1rem 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
  font-weight: 300;
  display: none;
}

@media only screen and (max-width: 768px) {
  .work_container {
    width: 100%;
    flex-direction: column;
    padding: 1rem;
  }

  .work_container .left {
    justify-content: center;
  }

  .work_container .listItem {
    font-size: 2rem;
  }

  .work_modal_desc {
    height: max-content;
    width: 280px;
    padding: 0.5rem;
    font-size: 0.75rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
